@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/*---------------------Reset--------------------*/
:root {

    background-color: rgba(5, 2, 13, 0.9);
    font-family: 'Roboto Mono', monospace;
    color: #F8FEFB;
    ;
}


@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}


img,
picture,
video,
iframe,
figure {
    max-width: 100%;
    width: 100%;
    display: block;
}


a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}


p a {
    display: inline;
}


li {
    list-style-type: none;
}


html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}


blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}


::selection {
    background-color: var(--negro);
    color: var(--blanco);
}


form,
input,
textarea,
select,
button,
label {
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
}


table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
}


svg {
    width: 100%;
    display: block;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);

    hyphens: auto;

    font-smooth: always;

    -webkit-font-smoothing: antialiased;

    -moz-osx-font-smoothing: grayscale;


}

/*---------------------Contenedor--------------------*/
#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;

}

.Main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15rem;
    width: 100%;
}

section {
    display: flex;
    align-content: center;
    width: 100%;
    flex-shrink: 0;
    justify-content: center;

}

.Sec1 {

    width: 100%;
    height: 800px;

}

.Sec2 {
    width: 100%;
    height: 2750px;

}

.Sec3 {
    width: 100%;
    height: 850px;

}

/*---------------------Menu--------------------*/
.NavBar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 120px;
    justify-content: center;
    opacity: 0.8;
    padding: 40px;

}

.Box-Links {
    display: flex;
    gap: 30%;
    justify-content: center;
    align-items: center;
    width: 1616px;
    height: 46px;
    flex-shrink: 0;
    background-color: #0C0420;
    border-radius: 10px;
    border: 1px solid #2EF8A0;
    box-shadow: 0px 0px 16px 0px rgba(46, 248, 160, 0.50);
    width: 100%;


}

.NavBarLinks {
    margin-top: 0.5rem;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    animation: navbarneon 2s infinite alternate;
}

@keyframes navbarneon {

    0%,
    15%,
    30%,
    35%,
    50%,
    65%,
    80%,
    95% {
        text-shadow: 0px 0px 2px #2EF8A0,
            0px 0px 8px #2EF8A0,
            0px 0px 10px #2EF8A0,
            0px 0px 16px #2EF8A0;
    }

    10% {
        color: #4C5954;
        box-shadow: none;
    }

}

.checkbtn {
    width: 30px;
    height: 30px;
    z-index: 2;
    cursor: pointer;
    display: none;
    float: right;
}

#check {
    z-index: 2;
    display: none;

}

/*---------------------Primera Seccion--------------------*/
.Seccion1 {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    place-content: center;
    gap: 5px;
    justify-content: space-between;
    align-content: center;
    background-color: #0C0420;
    border-radius: 8px;
    opacity: 0.8;
    width: 100%;
    margin-top: 2rem;
    padding: 5rem;

}

.ID-Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 277px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 8px;
    padding: 0.5rem;

}

.ID-Card-Foto {
    height: 100%;
    width: 100%;
}

.ID-Card-Nombres {
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    text-shadow: 0px 0px 2px #2EF8A0,
        0px 0px 8px #2EF8A0,
        0px 0px 10px #2EF8A0,
        0px 0px 16px #2EF8A0;
}

.Presentacion-Card {
    display: grid;
    grid-template-columns: 1fr 0.6fr;
    width: 100%;
    height: 100%;
    flex-direction: 0;
    place-content: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #2EF8A0;
    box-shadow: 0px 0px 16px 0px rgba(46, 248, 160, 0.50);

}

.Presentacion-Card-Descripcion {
    text-align: start;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 1rem;
    text-shadow: 0px 0px 2px #2EF8A0,
        0px 0px 8px #2EF8A0,
        0px 0px 10px #2EF8A0,
        0px 0px 16px #2EF8A0;
}

#Texto {
    font-size: 4rem;
    font-weight: 500;
    height: 5rem;
}

@keyframes tipeo {
    from {
        width: 0;
    }
}

#Texto::after {
    content: "_";
    font-weight: 500;
    position: absolute;
    margin-left: 5px;
    animation: tipeo 2s steps(20, end) infinite;
}


.Presentacion-Card-Foto {
    width: 374px;
    height: 512px;
}

.Presentacion-Card-Descripcion-Container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

}

.Presentacion-Card-Descripcion-Fijo {
    color: #2EF8A0;
    font-size: 28px;
    line-height: normal;
    text-shadow: 0px 0px 2px #2EF8A0,
        0px 0px 8px #2EF8A0,
        0px 0px 10px #2EF8A0,
        0px 0px 16px #2EF8A0;
    margin-left: 1rem;
    text-align: start;
}

.Presentacion-Card-Descripcion-Automatico {
    color: #F8FEFB;
}

/*---------------------Segunda Seccion--------------------*/

.Seccion2 {
    display: flex;
    align-items: start;
    background-color: #0C0420;
    border-radius: 8px;
    opacity: 0.8;
}

.AcercadeMiCard-Card {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    place-content: center;
    margin-left: 5rem;
}

.AcercadeMiCard-ContainerNav {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    display: flex;

}

.AcercadeMiCard-ContainerNav-enlaces {
    position: sticky;
    top: 20px;
    padding: 20px;
    border-radius: 8px;
    margin-top: 8rem;
    box-shadow: 0px 0px 16px 0px rgba(46, 248, 160, 0.50);
    text-align: start;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #2EF8A0;
    text-shadow: 0px 0px 2px #2EF8A0,
        0px 0px 8px #2EF8A0,
        0px 0px 10px #2EF8A0,
        0px 0px 16px #2EF8A0;

}

.AcercadeMiCard-ContainerNav-SubNav {
    flex: 1;
}

.AcercadeMiCard-ContainerNav-SubNav a {
    display: block;
    padding: 10px 20px;
    border-radius: 8px;

}

.AcercadeMiCard-ContainerNav-SubNav a:hover {

    color: #F8FEFB;
    border-radius: 4px;
}

.AcercadeMiCard-ContainerNav-SubNav a.activo {
    font-weight: 700;
    translate: 8px;
    background: #F8FEFB;
    color: #0C0420;
    text-shadow: none;
}

.AcercadeMiCard-Card-secciones-Seccion {
    padding: 0 40px 40px 40px;
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 5px;

}

.AcercadeMiCard-Card-secciones-Seccion p {
    font-size: 38px;
    font-weight: 400;
    text-align: justify;
    width: 100%;
    text-shadow: 0px 0px 2px #2EF8A0,
        0px 0px 8px #2EF8A0,
        0px 0px 10px #2EF8A0,
        0px 0px 16px #2EF8A0;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    padding: 30px 30px 30px 30px;

}

.AcercadeMiCard-Card-secciones-Seccion br {
    margin-bottom: 2px;
}

.AcercadeMiCard-Card-secciones-Seccion-Encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 0;
    opacity: 0;
    text-shadow: 0px 0px 2px #2EF8A0,
        0px 0px 8px #2EF8A0,
        0px 0px 10px #2EF8A0,
        0px 0px 16px #2EF8A0;
    border-radius: 8px;
    border: 1px solid #2EF8A0;
    box-shadow: 0px 0px 16px 0px rgba(46, 248, 160, 0.50);
    font-size: 22px;

}

.AcercadeMiCard-Card-secciones-Seccion-Encabezado-VinetaContainer :hover {

    box-shadow: 0px 0px 16px 0px rgba(46, 248, 160, 0.50);

}

.AcercadeMiCard-Card-secciones-Seccion-Encabezado-VinetaContainer-Vineta {
    height: 45px;
    width: 100%;
    margin-left: 20px;
}

.AcercadeMiCard-Card-secciones-Seccion-Encabezado-VinetaContainer {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    place-content: center;
    align-items: center;
}

/*---------------------Tercera Seccion--------------------*/
.Seccion3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0C0420;
    border-radius: 8px;
    opacity: 0.8;
}

.Contáctame-Form {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Seccion3_Titulo {
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    line-height: normal;
    text-shadow: 0px 0px 2px #2EF8A0,
        0px 0px 8px #2EF8A0,
        0px 0px 10px #2EF8A0,
        0px 0px 16px #2EF8A0;
}

.Contáctame-Form-Flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 100%;
    margin-top: 5rem;

}

.Contáctame-Form-Flex-Input {
    width: 25rem;
    height: 3rem;
    border: 2px solid #F8FEFB;
    border-radius: 8px;
    color: #0C0420;
    background-color: #F8FEFB;
    padding-left: 20px;
}

.Contáctame-Form-Flex input:focus {
    border: 2px solid #2EF8A0;
    outline: none;
}

.Contáctame-Form-Flex-Text-Area {
    padding-top: 1rem;
    width: 100%;
    height: 10rem;
    border-radius: 8px;
    margin-top: 5rem;
    padding-left: 20px;
    text-align: justify;
    color: #0C0420;
    background-color: #F8FEFB;
    border: 2px solid #F8FEFB;
}

.Contáctame-Form-Flex-Text-Area:focus {
    border: 2px solid #2EF8A0;
    outline: none;
}

.Contáctame-Form-Boton {
    width: 15rem;
    height: 3rem;
    border-bottom: #2EF8A0;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 0px rgba(46, 248, 160, 0.50);
    margin-top: 5rem;
    cursor: pointer;
    text-shadow: 0px 0px 2px #2EF8A0,
        0px 0px 8px #2EF8A0,
        0px 0px 10px #2EF8A0,
        0px 0px 16px #2EF8A0;
    border: 1px solid #2EF8A0;
}

/*---------------------Footer--------------------*/

.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20rem;
}

.Footer-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1616px;
    height: 12rem;
    background-color: #0C0420;
    border-radius: 10px;
    border: 1px solid #2EF8A0;
    box-shadow: 0px 0px 16px 0px rgba(46, 248, 160, 0.50);

}

.Footer-Container-RedesSociales-Titulo {
    font-size: 40px;
    text-shadow: 0px 0px 2px #2EF8A0,
        0px 0px 8px #2EF8A0,
        0px 0px 10px #2EF8A0,
        0px 0px 16px #2EF8A0;
    text-align: center;
}

.Footer-Container-RedesSociales {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10rem;
    align-items: center;
    margin-top: 1rem;

}

.Footer-Container-RedesSociales img {
    height: 65px;
    width: 40px;
    cursor: pointer;
}

.Footer-Container-Copyright {
    font-size: 15px;
    margin-top: 1.5rem;
    text-shadow: 0px 0px 2px #2EF8A0,
        0px 0px 8px #2EF8A0,
        0px 0px 10px #2EF8A0,
        0px 0px 16px #2EF8A0;
    text-align: center;
}

/*---------------------Response--------------------*/
@media screen and (max-width: 1650px) {
    .Box-Links {
        width: 1516px;
    }

    .ID-Card {
        width: 237px;
    }

    .ID-Card-Nombres {
        font-size: 32px;
    }

    .Presentacion-Card {
        width: 1005px;
    }

    .Footer-Container {
        width: 1516px;
    }

}

@media screen and (max-width: 1550px) {
    .Box-Links {
        width: 100%;
    }

    .ID-Card {
        width: 197px;
    }

    .ID-Card-Nombres {
        font-size: 32px;
    }

    .Presentacion-Card {
        width: 100%;
    }

    .AcercadeMiCard-Card-secciones-Seccion p {
        font-size: 34px;
    }

    .Footer-Container {
        width: 1416px;
    }
}

@media screen and (max-width: 1450px) {
    .Box-Links {
        width: 100%;
    }

    .ID-Card-Nombres {
        font-size: 28px;
    }

    .Presentacion-Card {
        width: 100%;
    }

    #Texto {
        font-size: 3rem;

    }

    .Presentacion-Card-Descripcion-Fijo {
        font-size: 22px;
    }

    .Footer-Container {
        width: 1316px;
    }
}

@media screen and (max-width: 1350px) {
    .Box-Links {
        width: 100%;
    }

    .ID-Card {
        width: 157px;
    }

    .Presentacion-Card {
        width: 100%;
    }

    #Texto {
        font-size: 2.5rem;

    }

    .AcercadeMiCard-Card-secciones-Seccion p {
        font-size: 30px;
    }

    .Footer-Container {
        width: 1216px;
    }
}

@media screen and (max-width: 1250px) {
    .Box-Links {
        width: 100%;
    }

    .NavBarLinks {
        font-size: 18px;
    }

    .Presentacion-Card {
        width: 100%;
    }

    .Footer-Container {
        width: 1116px;
    }
}

@media screen and (max-width: 1150px) {
    .Box-Links {
        width: 100%;
    }

    .NavBarLinks {
        font-size: 18px;
    }

    .Presentacion-Card {
        width: 100%;
    }

    #Texto {
        font-size: 2rem;

    }

    .Presentacion-Card-Descripcion-Fijo {
        font-size: 18px;
    }

    .Presentacion-Card-Foto {
        padding: 8px;
    }

    .AcercadeMiCard-ContainerNav-enlaces {
        font-size: 16px;
    }

    .AcercadeMiCard-Card-secciones-Seccion p {
        font-size: 26px;
    }

    .Seccion3_Titulo {
        font-size: 36px;
    }

    .Contáctame-Form {
        width: 80%;
    }

    .Contáctame-Form-Boton {
        width: 10rem;
    }

    .Footer-Container {
        width: 916px;
    }

    .Footer-Container-RedesSociales-Titulo {
        font-size: 36px;
    }

    .Footer-Container-Copyright {
        font-size: 10px;
    }
}

@media screen and (max-width: 950px) {
    .Box-Links {
        width: 100%;
    }

    .NavBarLinks {
        font-size: 18px;
        font-weight: 200;

    }

    .Presentacion-Card {
        width: 100%;
    }

    #Texto {
        font-size: 1.5rem;

    }

    .Presentacion-Card-Descripcion-Fijo {
        font-size: 14px;
    }

    .Contáctame-Form-Boton {
        width: 8rem;
    }

    .Footer-Container {
        width: 816px;
    }
}

@media screen and (max-width: 850px) {
    .Box-Links {
        width: 100%;
    }

    .NavBarLinks {
        font-size: 14px;
        font-weight: 200;
        padding-left: 5px;
        padding-right: 5px;
    }


    .ID-Card {
        width: 100%;
        margin-left: 0;
        padding: 2rem;
    }

    .Presentacion-Card {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 100%;
        height: 100%;

    }

    #Texto {
        margin-top: 25px;
        padding-right: 20px;
    }

    .Presentacion-Card-Descripcion-Container {
        margin-top: 25px;
    }

    .Presentacion-Card-Foto {
        padding: 0 0 0 5rem;
    }

    .Seccion2 {
        height: 100%;
    }

    .AcercadeMiCard-Card-secciones-Seccion p {
        font-size: 22px;
    }

    .Seccion3 {
        height: 100%;
    }

    .Contáctame-Form-Boton {
        padding: auto;
    }

    .Footer-Container {
        width: 716px;
    }
}

@media screen and (max-width: 750px) {
    .NavBar {
        position: fixed;
        z-index: 5;
        background-color: #0C0420;
        height: 180px;
        width: 100%;

    }

    .Box-Links {
        width: 100%;
        height: 100%;
        left: -100%;
        border: none;
        position: absolute;
        gap: 12rem;
        box-shadow: none;
        transition: all .5s;
        background: none;


    }

    .checkbtn {
        display: block;
        width: 50px;
        height: 50px;
        margin-left: auto;

    }

    #check:checked~.Box-Links {
        left: 0;

    }

    .Seccion1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1050px;
        width: 100%;
        margin-top: 15rem;

    }

    .ID-Card {
        width: 100%;
        height: 450px;

    }

    .ID-Card-Foto {
        width: 100%;
        height: 250px;
    }

    .Presentacion-Card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 450px;
    }

    #Texto {
        margin-top: 25px;
        padding-right: 20px;
    }

    .Presentacion-Card-Descripcion-Container {
        margin-top: 25px;
    }

    .Presentacion-Card-Foto {
        padding: 0;
        margin-left: 0;
        height: 250px;
        width: 100%;
    }


    .Seccion2 {
        margin-top: 25rem;
        height: 2750px;

    }

    .AcercadeMiCard-Card-secciones-Seccion p {
        font-size: 22px;
    }

    .Seccion3 {
        margin-top: 15rem;
        height: 100%
    }


    .Footer {
        margin-top: 20rem;
    }

    .Footer-Container {
        width: 100%;

    }
}

@media screen and (max-width: 650px) {
    .NavBar {
        position: fixed;
        z-index: 5;
        background-color: #0C0420;
        height: 180px;
        width: 100%;
    }

    .Box-Links {
        width: 100%;
        height: 100%;
        left: -100%;
        border: none;
        position: absolute;
        gap: 10rem;
        box-shadow: none;
        transition: all .5s;
        background: none;

    }

    .NavBarLinks {
        animation: none;
        text-shadow: 0px 0px 2px #2EF8A0,
            0px 0px 8px #2EF8A0,
            0px 0px 10px #2EF8A0,
            0px 0px 16px #2EF8A0;
        font-size: 12px;
    }

    .checkbtn {
        display: block;
        width: 50px;
        height: 50px;

    }

    #check:checked~.Box-Links {
        left: 0;

    }

    .Seccion1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1050px;
        width: 100%;
        margin-top: 15rem;

    }

    .ID-Card {
        width: 100%;
        height: 450px;

    }

    .ID-Card-Foto {
        width: 100%;
        height: 250px;
    }

    .Presentacion-Card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 450px;
    }

    #Texto {
        margin-top: 25px;
        padding-right: 20px;
    }

    .Presentacion-Card-Descripcion-Container {
        margin-top: 25px;
    }

    .Presentacion-Card-Foto {
        padding: 0;
        margin-left: 0;
        height: 250px;
        width: 100%;
    }

    .Seccion2 {
        margin-top: 25rem;
        height: 2750px;

    }

    .Seccion3 {
        margin-top: 15rem;
        height: 100%;
    }


    .Footer {
        margin-top: 20rem;
    }

    .Footer-Container {
        width: 100%;

    }
}

@media screen and (max-width: 550px) {
    .NavBar {
        position: fixed;
        z-index: 5;
        background-color: #0C0420;
        height: 180px;
        width: 100%;
    }

    .Box-Links {
        display: list-item;
        width: 100%;
        height: 100%;
        left: -100%;
        border: none;
        position: absolute;
        box-shadow: none;
        transition: all .5s;
        background: none;

    }

    .NavBarLinks {
        font-size: 24px;
    }

    .checkbtn {
        display: block;
        width: 30px;
        height: 30px;

    }

    #check:checked~.Box-Links {
        left: 0;

    }

    .Seccion1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1050px;
        width: 100%;
        margin-top: 15rem;

    }

    .ID-Card {
        width: 100%;
        height: 450px;

    }

    .ID-Card-Foto {
        width: 100%;
        height: 250px;
    }

    .Presentacion-Card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 450px;
    }

    #Texto {
        margin-top: 25px;
        padding-right: 20px;
    }

    .Presentacion-Card-Descripcion-Container {
        margin-top: 25px;
    }

    .Presentacion-Card-Foto {
        padding: 0;
        margin-left: 0;
        height: 250px;
        width: 100%;
    }

    .AcercadeMiCard-ContainerNav-SubNav {
        display: none;

    }

    .Seccion2 {
        margin-top: 25rem;
        height: 2750px;

    }

    .AcercadeMiCard-Card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .AcercadeMiCard-Card-secciones-Seccion-Encabezado {
        width: 100%;
        opacity: 1;
        margin-top: 0rem;
    }

    .AcercadeMiCard-Card-secciones-Seccion p {
        font-size: 15px;
    }

    .AcercadeMiCard-Card-secciones-Seccion {
        width: 100%;
    }

    .AcercadeMiCard-Card-secciones-Seccion p {
        font-size: 22px;
    }

    .Seccion3 {
        margin-top: 15rem;
        height: 100%;
    }


    .Footer {
        margin-top: 20rem;
    }

    .Contáctame-Form-Flex {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .Contáctame-Form-Flex-Input {
        width: 100%;
    }

    .Footer-Container {
        width: 100%;

    }
}

@media screen and (max-width: 450px) {
    .NavBar {
        position: fixed;
        z-index: 5;
        background-color: #0C0420;
        height: 180px;
        width: 100%;
    }

    .Box-Links {
        width: 100%;
        height: 100%;
        left: -100%;
        border: none;
        position: absolute;
        gap: 4rem;
        box-shadow: none;
        transition: all .5s;
        background: none;

    }

    #check:checked~.Box-Links {
        left: 0;

    }

    .Seccion1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1050px;
        width: 100%;
        margin-top: 15rem;

    }

    .ID-Card {
        width: 100%;
        height: 450px;

    }

    .ID-Card-Foto {
        width: 100%;
        height: 250px;
    }

    .Presentacion-Card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 450px;
    }

    #Texto {
        padding-right: 10px;
        font-size: 1rem;
    }

    .Presentacion-Card-Descripcion-Fijo {
        font-size: 10px;
    }

    .Presentacion-Card-Descripcion-Container {
        margin-top: 25px;
    }

    .Presentacion-Card-Foto {
        padding: 10px;
        margin-left: 0;
        height: 250px;
        width: 100%;
    }

    .AcercadeMiCard-ContainerNav-SubNav {
        display: none;

    }

    .Seccion2 {
        margin-top: 25rem;
        height: 100%;

    }

    .AcercadeMiCard-Card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .AcercadeMiCard-Card-secciones-Seccion {
        width: 100%;
    }

    .AcercadeMiCard-Card-secciones-Seccion p {
        font-size: 22px;
    }

    .Seccion3 {
        margin-top: 15rem;
        height: 100%;
    }


    .Footer {
        margin-top: 20rem;
    }

    .Contáctame-Form-Flex {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .Contáctame-Form-Flex-Input {
        width: 100%;
    }

    .Footer-Container-RedesSociales {
        gap: 5rem;
    }

    .Footer-Container {
        width: 100%;

    }
}

@media screen and (max-width: 350px) {
    .NavBar {
        position: fixed;
        z-index: 5;
        background-color: #0C0420;
        height: 180px;
        width: 100%;
    }

    .Box-Links {
        width: 100%;
        height: 100%;
        left: -100%;
        border: none;
        position: absolute;
        gap: 2rem;
        box-shadow: none;
        transition: all .5s;
        background: none;

    }

    #check:checked~.Box-Links {
        left: 0;

    }

    .Seccion1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 1050px;
        width: 100%;
        margin-top: 15rem;
        padding: 1rem;

    }

    .ID-Card {
        height: 450px;
        width: 100%;
    }

    .ID-Card-Foto {
        width: 100%;
        height: 250px;
    }

    .Presentacion-Card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 450px;
    }

    .Presentacion-Card-Descripcion-Container {
        margin-top: 25px;
    }

    .Presentacion-Card-Foto {
        padding: 0;
        margin-left: 0;
        height: 250px;
        width: 100%;
    }

    .Seccion2 {
        margin-top: 25rem;
        height: 2850px;

    }

    .AcercadeMiCard-ContainerNav-SubNav {
        display: none;
    }

    .AcercadeMiCard-Card-secciones-Seccion p {
        font-size: 22px;
    }

    .AcercadeMiCard-Card-secciones-Seccion p {
        font-size: 10px;
    }

    .Seccion3 {

        margin-top: 25rem;
        height: 850px;
        padding: 0;
    }

    .Footer {
        margin-top: 30rem;
    }

    .Footer-Container-RedesSociales {
        gap: 1rem;
    }

    .Footer-Container {
        width: 100%;

    }
}